<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Deep v Truffaut pickled.</string>
	<string>Before they sold out roof party Williamsburg tofu normcore?</string>
	<string>Thundercats Tonx!</string>
	<string>Odd Future 🍰</string>
	<string>Etsy flexitarian Intelligentsia, sriracha.</string>
	<string>American Apparel forage street art cray church-key Wes Anderson four loko.</string>
	<string>Beard irony you probably haven&apos;t heard of them.</string>
	<string>chia Pitchfork stumptown messenger bag dreamcatcher McSweeney&apos;s post-ironic American Apparel small batch fap twee.</string>
	<string>Vice PBR selfies</string>
	<string>freegan XOXO mlkshk pour-over</string>
	<string>Pitchfork lomo scenester Wes Anderson Kickstarter flannel Tonx</string>
	<string>Fashion axe.

Lo-fi craft beer fixie

High Life chia quinoa.</string>
	<string>Carles Shoreditch</string>
	<string>Echo Park Vice</string>
	<string>Sustainable Neutra Schlitz asymmetrical. Hoodie McSweeney&apos;s Williamsburg Vice, keffiyeh cray narwhal church-key skateboard pop-up.</string>
	<string>3 wolf</string>
	<string>moon 90&apos;s gluten-free Carles</string>
	<string>pug VHS</string>
	<string>chambray kitsch Portland raw denim XOXO.</string>
	<string>Schlitz drinking vinegar lomo direct</string>
	<string>Trade scenester. Street art tattooed freegan photo booth.</string>
	<string>DIY keytar Cosby sweater</string>
	<string>Williamsburg put a bird on it skateboard paleo Shoreditch gentrify chambray polaroid.</string>
	<string>8-bit semiotics art party tote bag retro. Meh master cleanse typewriter, leggings before they sold out.</string>
	<string>High Life kogi jean shorts bespoke salvia Godard distillery. Tofu Etsy pug yr chambray gentrify, gastropub photo booth street art synth. Fingerstache retro mlkshk YOLO seitan salvia, next level slow-carb chambray.</string>
</array>
</plist>
